@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Variables
// Colors

//  Primary

$Dark_cyan: #3c8067;
$Cream: #f2ebe3;

// Neutral

$Very_dark_blue: #1c232b;
$Dark_grayish_blue: #6c7289;
$White: #ffffff;

// Typography (paragraph)

$font_size: 14px;

// Font Family
$Mons: "Montserrat", sans-serif;
$Fra: "Fraunces", serif;

body {
  padding: 2rem;
  background-color: $Cream;
}
main {
  background-color: white;
  border-radius: .5rem;
}


.details {
  .img {
  height: 23vh;
  width: 100%;
  background: url("../images/image-product-desktop.jpg") no-repeat 40%;
  background-size: cover;
  border-radius: .5rem .5rem 0 0;
}
  span,
  p {
    font-size: $font_size;
  }
  span:nth-child(1) {
    font-family: $Mons;
    color: $Dark_grayish_blue;
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
  }
  h2 {
    font-family: $Fra;
    color: $Very_dark_blue;
    font-size: 1.7rem;
  }
  p {
    color: $Dark_grayish_blue;
    font-family: $Mons;
    font-size: .85rem;
    margin-bottom: 2rem;
  }
}


.inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.pricing {
  display: flex;
  align-items: center;
  gap: 2rem;
  strong {
    color: $Dark_cyan;
    font-family: $Fra;
    font-size: xx-large;
  }
  s {
    color: $Very_dark_blue;
    font-family: $Mons;
    font-size: small;
    color: $Dark_grayish_blue;
  }
}
button {
  width: 100%;
  background-color: $Dark_cyan;
  color: $Cream;
  font-family: $Mons;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
